body {
    height : 100%;
    background: #282828
}

.error-container div {
    color: #cd6a51;
}

.contact-grid-container{
    margin-top: 20px;
}

.contact-grid label{
    cursor: pointer
}

.contact-grid {
    cursor: pointer;
    margin-right: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #323232;
    border-radius: 5px;
    background-color: #f0f0f0;
    min-height : 60px;
    margin-bottom: 10px;
    padding : 10px !important;
}

.contact-grid .contact-block{
    display : inline-block;
    height : 60px;
    vertical-align: middle;
}

.contact-grid .contact-block .thumbnail{
    margin-right: 5px;
}

.contact-grid .contact-content-block{
    display : block;
}

.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-delete{
    background: #cd6a51;
    color: white;
}

.character-row {
    height : 130px;
}

.glyphicon-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thumbnail{
    width: 60px;
}

.thumbnail img{
    width: 100%;
    height : 50px;
}

.phone-booth-container-view h3{
    color : #969696
}

.phone-booth-container-view label{
    color : #0092cc
}