html{
    height: 100%;
}

body {
    background-image: url("/img/bg_welcome.jpg");
    background-color: rgba(0,0,0,0.85);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-attachment: fixed;
}

h2, h4{
    text-align: center;
}

h2.welcome-header {
    color: white;
}

h4.welcome-header {
    color: #ffffff;
    opacity: 0.7
}

.welcome-container label {
    color: white;
}

.error-container div {
    color: #cd6a51;
}