<!doctype html>
<div ng-controller="forgotPasswordCtrl">
    <form name="forgotPasswordForm" ng-submit="forgotPassword()" novalidate >
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="email"  ng-class="{'has-error': forgotPasswordForm.email.$invalid}" required >
            <div class="error-container" ng-messages="forgotPasswordForm.email.$error" ng-if="forgotPasswordForm.email.$dirty && forgotPasswordForm.$submitted" role="alert">
                <div ng-message="required">Required</div>
                <div ng-message="email">Invalid Email</div>
            </div>
        </div>
        <input class="btn btn-primary pull-right" type="submit" value="Reset password">
    </form>
    <div>
        <a ng-href="#login">Already have an account?</a>
        <a class="row" ng-href="#register">Do not have an account?</a>
    </div>
</div>
