<!doctype html>
<div class="ngdialog-message">
    <form name="contactForm" novalidate >
        <div class="row">
            <label class="col-md-3">Name</label>
            <div class="col-md-8 col-md-offset-1">
                <label ng-show="!modifying_name" >{{phone_booth_data.name}}</label>
                <button ng-show="!modifying_name" class="btn fa fa-pencil pull-right" ng-click="modifying_name = true"></button>
                <input name="contact_name" class="col-xs-12 form-control" type="text" ng-show="modifying_name" ng-model="phone_booth_data.name" ng-maxlength="45">
                <div class="error-container" ng-messages="contactForm.contact_name.$error" ng-if="contactForm.contact_name.$dirty" role="alert">
                    <div ng-message="maxlength">Name Too long</div>
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-md-3">Extension</label>
            <div class="col-md-8 col-md-offset-1">
                <label ng-show="!modifying_ext">{{phone_booth_data.contact_ext}}</label>
                <button ng-show="!modifying_ext" class="btn fa fa-pencil pull-right" ng-click="modifying_ext = true"></button>
                <input name="contact_ext" class="col-xs-12 form-control" type="tel" ng-show="modifying_ext" ng-model="phone_booth_data.contact_ext" ng-maxlength="10" ng-pattern="/^(\+)?[0-9]*$/">
                <div class="error-container" ng-messages="contactForm.contact_ext.$error" ng-if="contactForm.contact_ext.$dirty" role="alert">
                    <div ng-message="maxlength">Contact Extension Too long</div>
                    <div ng-message="pattern">Can only be 0-9 and a + infront</div>
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-md-3">Contact Number</label>
            <div class="col-md-8 col-md-offset-1">
                <label ng-show="!modifying_num">{{phone_booth_data.contact_num}}</label>
                <button ng-show="!modifying_num" class="btn fa fa-pencil pull-right" ng-click="modifying_num = true"></button>
                <input name="contact_num" class="col-xs-12 form-control" type="tel" ng-show="modifying_num" ng-model="phone_booth_data.contact_num" ng-maxlength="30" ng-pattern="/^[0-9]+((-)?[0-9])*$/" required>
                <div class="error-container" ng-messages="contactForm.contact_num.$error" ng-if="contactForm.contact_num.$dirty" role="alert">
                    <div ng-message="required">Required</div>
                    <div ng-message="maxlength">Contact Number Too long</div>
                    <div ng-message="pattern">Invalid Contact Number</div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-xs-12">
            <label>Extras</label>
            <button ng-click="addExtra()" class="btn fa fa-plus-square-o"></button>
        </div>
        <div class="row" ng-show="phone_booth_data.phone_booth_extras.length > 0">
            <div class="col-xs-12">
                <label class="col-xs-3">Name</label>
                <label class="col-xs-9">Details</label>
            </div>
            <div ng-repeat="(index,extra_data) in phone_booth_data.phone_booth_extras">
                    <div class="col-xs-12">
                        <div class="col-xs-3">
                            <label ng-show="!extra_data.modifying">{{extra_data.name}}</label>
                            <input class="col-xs-12" type="text" ng-show="extra_data.modifying" ng-model="extra_data.name" ng-maxlength="45">
                        </div>
                        <div class="col-xs-8 center-vertical">
                            <label ng-show="!extra_data.modifying">{{extra_data.details}}</label>
                            <button ng-show="!extra_data.modifying" class="btn fa fa-pencil pull-right" ng-click="extra_data.modifying = true"></button>
                            <input class="col-xs-12" type="text" ng-show="extra_data.modifying" ng-model="extra_data.details" ng-maxlength="45">
                        </div>
                        <div class="col-xs-1">
                             <button type="button" class="btn btn-sm pull-right glyphicon glyphicon-remove-sign" ng-click="removeExtraAtIndex(index)"></button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="ngdialog-buttons" style="margin-top : 5px">
        <input ng-show="modifying_extra || modifying_name || modifying_ext || modifying_num" class="ngdialog-button ngdialog-button-primary" type="button" ng-click="saveContact()" value="Save">
        <input class="ngdialog-button ngdialog-button-delete" type="button" ng-click="deleteContact()" value="Delete Contact">
        <input class="ngdialog-button ngdialog-button-secondary" type="button" ng-click="closeThisDialog()" value="Cancel">
    </div>
</div>