<!doctype html>
<div ng-controller="registerCtrl">
    <form name="registerForm" ng-submit="register()" novalidate >
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="email"  ng-class="{'has-error': registerForm.email.$invalid}" required >
            <div class="error-container" ng-messages="registerForm.email.$error" ng-if="registerForm.email.$dirty && registerForm.$submitted" role="alert">
                <div ng-message="required">Required</div>
                <div ng-message="email">Invalid Email</div>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" ng-model="password" ng-pattern="/^[A-Za-z0-9]{8,}$/"  ng-class="{'has-error': registerForm.password.$invalid}" required >
            <div class="error-container" ng-messages="registerForm.password.$error" ng-if="registerForm.password.$dirty && registerForm.$submitted" role="alert">
                <div ng-message="required">Required</div>
                <div ng-message="pattern">Invalid Password (8 alphanumeric)</div>
            </div>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" name="confirm_password" class="form-control" ng-model="confirm_password" ng-pattern="{{password}}"  ng-class="{'has-error': registerForm.confirm_password.$invalid}" required >
            <div class="error-container" ng-messages="registerForm.confirm_password.$error" ng-if="registerForm.confirm_password.$dirty && registerForm.$submitted" role="alert">
                <div ng-message="required">Required</div>
                <div ng-message="pattern">Password not the same</div>
            </div>
        </div>
        <input class="btn btn-primary pull-right" type="submit" value="Register">
    </form>
    <div>
        <a ng-href="#login">Already have an account?</a>
    </div>
</div>